* {
  box-sizing: border-box;
}

.App {
  padding: 32px;
  width: 100%;
}

.courses {
  margin-top: 16px;
  width: 100%;
}

.courses td {
  width: 33.33%;
}

.courses th {
  width: 33.33%;
  text-align: left;
}

.courses div {
  padding: 8px;
}

input[type="text"] {
  font-size: 20px;
}
