* {
  box-sizing: border-box;
}

.App {
  padding: 32px;
  width: 100%;
}

.logo {
  width: 30px;
  margin-top: 10px;
}

.courses {
  margin-top: 16px;
  width: 100%;
}

.courses td {
  width: 33.33%;
}

.courses th {
  width: 33.33%;
  text-align: left;
}

.courses div {
  padding: 8px;
}

input[type="text"] {
  display: block;
  font-size:20px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:1000px;
  margin:2px 0 20px 10px;
}

.checkbox {
  padding: 20px 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}