@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

.input {
  width: 100%;
  position: relative;
  display: inline-block;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  color: #9DBFAF;
}
.App {
  padding: 32px;
  width: 100%;
}

.logo {
  width: 30px;
  margin-top: 10px;
}

.courses {
  margin-top: 16px;
  width: 100%;
}

.courses td {
  width: 33.33%;
}

.courses th {
  width: 33.33%;
  text-align: left;
}

.courses div {
  padding: 8px;
}

input[type="text"] {
  display: block;
  font-size:20px;
  padding:4px 2px;
  border:solid 2px #DEDEDE;
  border-radius : 5px;
  width:100%;
  margin:10px 0 20px 0;
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
  margin-right: 4px;
}

.checkbox-label {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 16px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #dedede;
}


.checkbox input:checked ~ .checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #dedede;
}


.checkbox .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #5FC9AB;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #5FC9AB;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.periodCheckbox {
  padding-bottom: 10px;
}

.periodCheckbox .text {
  padding-right: 50px;
}

.subjectDropbox {
  padding-bottom: 10px;
}

.periodCheckbox .text {
  padding-right: 50px;
}

.subjectDropbox {
  padding-bottom: 10px;
}

.subjectDropbox .text {
  padding-right: 50px;
}

.languageCheckbox {
  padding-bottom: 10px;
}

.languageCheckbox .text {
  padding-right: 31px;
}

tr:nth-child(even) {
  background-color: #EBF2F0;
}