.header {
  padding: 60px;
  text-align: center;
  background: #5FC9AB;
  color: white;
  font-size: 30px;
}


body {
  margin: 0;
  font-family: 'Tomorrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
